// define card wrapper
.card-group {
	// define cards
	.card {
		position: relative;
		display: block;
		margin: 32px auto;
		box-sizing: content-box;
		padding: 24px 44px;
		border-radius: 12px;
		border: 2px solid transparent;
		background-color: #ffffff;
		color: $text;
		box-shadow: $box-shadow;
	}

	// define styles for unique groups
	&.side-effect-cards {
		padding: 0;

		.card {
			width: 70%;
			background-color: #ffffff;

			// label
			.card-input {
				position: relative;
				display: block;
				color: $dark;
				cursor: pointer;

				// span for word breaks
				span {
					display: inline-block;
					box-shadow: inset 0 -2px 0 0 transparent;
					word-break: keep-all;
					-webkit-hyphens: auto;
					-moz-hyphens: auto;
					hyphens: auto;
				}

				// css only checkmark
				&::before {
					content: " ";
					position: absolute;
					top: 14px;
					left: -24px;
					border-left: 3px solid currentColor;
					border-bottom: 3px solid currentColor;
					height: 6px;
					width: 12px;
					transform: rotate(-45deg);
					transform-origin: center center;
					opacity: 0;
				}

				// focus
				.checkboxes:focus + span {
					box-shadow: inset 0 -2px 0 0 $primary;
				}
			}

			// toggle
			.card-toggle {
				position: absolute;
				top: 20px;
				right: 24px;
				padding: 6px;
				margin: 0;
				border-radius: 50%;
				background-color: transparent;

				// toggle icon
				.rheroicons {
					display: block;
					position: relative;
					width: 24px;
					height: 24px;
					transform: translateY(0);
					transition: transform 0.4s ease-in-out;
				}

				// when icon is rotated
				&.rotated {
					color: currentColor;

					// rotate icon
					.rheroicons {
						transform: translateY(-3px) rotate(-180deg);
					}
				}

				// hovered or focused
				&:hover, &:focus {
					background-color: $primary;
					color: #ffffff;
				}
			}

			// content
			.card-content {
				color: currentColor;
				margin: 0;
				max-height: 0;

				position: absolute;
				width: 1px;
				height: 1px;
				clip: rect(0, 0, 0, 0);
				clip: rect(0 0 0 0);
				overflow: hidden;
				

				// text
				p {
					width: 90%;
					padding: 0;
					margin: 0;
				}

				// when expanded
				&.expanded {
					position: static;
					width: auto;
					height: auto;
					max-height: 2000px;
					clip: auto;
					overflow: auto;
				}
			}

			// hover for side effect cards
			&:hover {
				border-color: $primary;
			}

			// styling for when a side effect is selected
			&.selected {
				background-color: $primary;

				.card-input,
				.card-content p {
					color: white;
				}

				.card-input::before {
					opacity: 1;
				}

				.card-toggle {
					.rheroicons {
						color: white;
					}
				}
			}
		}
	}

	// styling for medication cards, i.e., results
	&.medication-cards {
		padding: 0;
		counter-reset: medications;

		.card {
			text-align: left;
			width: 70%;

			// icons + labels
			.rheroicons,
			.card-label {
				display: inline-block;
				padding: 8px 0;
			}

			// icons
			.rheroicons {
				position: absolute;
				width: 30px;
				height: 30px;
				top: 16px;
				left: 24px;
				margin: 0;

				// icons for recommended medications
				&.rheroicons_check {
					stroke: $green;
				}

				// icons for avoid medications
				&.rheroicons_exclamation {
					fill: $error;
				}
			}

			// labels
			.card-label {
				margin: 0;
				padding: 0;
				margin-left: 32px;

				// counter
				&::before {
					counter-increment: medications;
					content: counter(medications) ". ";
				}
			}

			// hover + focus
			// &:hover,
			// &:focus {
			// 	background-color: $primary;

			// 	// text
			// 	p {
			// 		color: white;
			// 	}

			// 	// icons
			// 	.icon {
			// 		// recommended medications
			// 		&.icon-checkmark {
			// 			path {
			// 				stroke: white;
			// 			}
			// 		}

			// 		// avoid medications
			// 		&.icon-warning {
			// 			// adjust <path>
			// 			path {
			// 				// exclaimation line - !
			// 				&#exclaimation-line {
			// 					stroke: $primary;
			// 				}

			// 				// triangle
			// 				&#Triangle {
			// 					fill: white;
			// 				}
			// 			}

			// 			// adjust <circle>
			// 			circle {
			// 				&#exclaimation-dot {
			// 					fill: $primary;
			// 				}
			// 			}
			// 		}
			// 	}
			// }
		}
	}
}

@media (min-width: 512px) {

	// set widths for card sets
	.card-group {
		&.side-effect-cards {
			.card {
				max-width: 512px;
			}
		}
		&.medication-cards {
			.card {
				max-width: 512px;
			}
		}
	}

	
}
