.navbar {
    position: fixed;
    width: 100%;
    padding: 0;
    margin: 0;
    top: 0;
    z-index: 999;
    background-color: #ffffff;
    border-bottom: 1px solid $light;
    box-shadow: $box-shadow;

    // navigation list - menu
    .menu {
        list-style: none;
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: 4fr 1fr;
        grid-column-gap: 0;
        grid-template-areas: "brand menu";

        // all menu items
        .menu-item {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 12px;
            margin: 0;

            // reset button styles
            button {
                padding: 0;
                margin: 0;
                border-radius: 0;
                box-shadow: none;
                display: flex;
                justify-content: flex-end;
                align-items: center;

                span {
                    font-size: 11pt;
                    margin-top: 6px;
                    margin-right: 8px;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-weight: bold;
                    color: $primary;
                }

                .rheroicons {
                    width: 25px;
                    height: 25px;
                    color: $primary;
                }
            }

            // styling for first link, i.e., the branding link + logo
            &.brand-item {
                .menu-title {
                    margin: 0;
                    line-height: 1;
                    font-size: 11pt;
                    text-transform: uppercase;
                    font-weight: bold;
                    letter-spacing: 2px;
                    color: $primary;

                    .logo {
                        position: relative;
                        display: inline-block;
                        width: 22px;
                        height: 22px;
                        top: 4px;
                    }
                }
            }

            // grid arrange menu items
            &:nth-child(1) {
                -ms-grid-column: 1;
                -ms-grid-row: 1;
                grid-column: 1;
                grid-row: 1;
                grid-area: brand;
            }

            &:nth-child(2) {
                -ms-grid-column: 2;
                -ms-grid-row: 1;
                grid-column: 2;
                grid-row: 1;
                grid-area: menu;
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }
        }
    }
}

@media (min-width: 512px) {
    .navbar {
        .brand-link {
            .menu-link {
                font-size: 16pt;
            }
        }
    }
}
