#main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background-color: #ffffff;

    // define page, i.e., each "slide"
    // each time a page is loaded it will fade in
    .page {
        display: block;
        width: 85%;
        height: auto;
        margin: 0 auto;
        margin-top: 125px;
        margin-bottom: 54px;
        background-color: #ffffff;
    }

    // page text
    p {

        // icons
        .rheroicons {
            display: inline-block;
            position: relative;
            top: 4px;
            &.rheroicons_outline {
                stroke: $primary;

                &.rheroicons_logout {
                    transform: scale(-1, 1)
                }
            }
        }

        // app name mentions
        strong {
            color: $primary;
        }
    }

    // error boxes
    .error-box {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: $error-accent;
        margin-bottom: 16px;
        border-radius: $default-border-radius;

        // icons
        .rheroicons {
            padding: 16px 12px;
            width: 30px;
            background-color: $error;
            stroke: $light;
            border-radius: 6px 0 0 6px;
        }

        // text
        .error-box-text {
            color: $error;
            padding: 0 12px;
            font-size: 13pt;
        }
    }

    // error text
    .error-text {
        color: $error;
        display: block;
        font-size: 9pt;
        text-transform: uppercase;
        letter-spacing: 2px;   
        font-weight: 600;
    }

    // sign in screen
    #signin {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: calc(100vh - 40px);
        margin: 0;
        background-color: $semi-light;
        
        .form {
            background-color: #ffffff;
            padding: 16px;
            width: 100%;
            max-width: 325px;
            margin-bottom: 6px;
            border-radius: $default-border-radius;

            .logo {
                display: block;
                margin: 0 auto;
                margin-bottom: 12px;
                width: 45px;
                height: 45px;
                fill: $primary;
            }

            legend {
                text-align: center;
                font-size: 18pt;
                color: $dark;
            }

            .form-control {
                width: 93%;
            }

            button[type=submit] {
                margin-top: 12px;
                width: 100%;
            }
        }
    }
}
@media (min-width: 972px) {
    #main {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $light;

        .page {
            max-width: 912px;
            padding: 1em;
            border-radius: 6px;
            margin-top: 0;

            &.page-extra-top-spacing {
                margin-top: 125px;
            }
        }

        #signin {
            min-height: 100vh;

            .form {
                min-width: 350px;
            }
        }
    }
}
