.sidebar {
    position: fixed;
    display: block;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    background-color: $primary;
    z-index: 10;
    width: 100%;
    height: 100%;
    transform: translateX(105%);
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    box-shadow: -2px 0 4px 3px $shadow;
    
    &.sidebar-revealed {
        transform: translateX(0);
    }
    
    .sidebar-content {
        width: 90%;
        margin: 0 auto;
        margin-top: 52px;
        padding: 24px 0;
        color: $light;

        .menu {
            list-style: none;
            padding: 0;
            margin: 0;

            .menu-item {
                display: block;
                padding: 0;
                margin: 0;

                button {
                    color: $light;

                    .rheroicons {
                        transform: scale(1.2);
                        transform-origin: center;
                        margin-right: 8px;

                        &.rheroicons_logout {
                            transform: scale(-1.2, 1.2);
                            transform-origin: center;
                        }
                    }
                }
            }
        }

        p {
            color: $light;
            a {
                color: $light;
                box-shadow: inset 0 -2px 0 0 $light;
            }
        }
    }
}

@media (min-width: 512px) {
    .sidebar {
        max-width: 325px;
    }
}
