@import "_variables";
@import "_base", "_buttons", "_navbar", "_sidebar", "_pages", "_cards";

// screen reader text
.screen-reader-text {
	position: absolute;
	height: 1px;
	width: 1px;
	clip: rect(0 0 0 0);
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
	margin: -1px;
}

// progress bar
#bar-container {
    position: fixed;
    display: block;
    width: 100%;
    top: 50px;
    left: 0;
    padding: 0;
    margin: 0;
    background-color: transparent;
    z-index: 100;

    // style the actual bar - id + class are the same
    #bar {
        height: 13px;
        background-color: $primary;
        transform: scaleX(0);
        transform-origin: 0 center;
        transition: all 1s ease-in-out;
    }

}

.revealable-content {
	div {
		max-height: 200px;
		overflow: hidden;
	}

	button {
		margin: 0 auto;
		margin-top: 16px;
	}

	&.revealable-expanded div {
		max-height: 1250px;
	}
}

#side-effects-selection {
	.filled-fieldset {
		background-color: none;
	}
	.card {
		box-shadow: $box-shadow;
	}
}

#results-page {
	.card {
		box-shadow: $box-shadow;
	}
}


@media (min-width: 512px) {
	#side-effects-selection {
		.filled-fieldset {
			background-color: $light;
			border-radius: 6px;
		}

		.card {
			box-shadow: none;
		}
	}
}