
// a fixed progress bar
.progressBar {
    position: fixed;
    display: block;
    width: 100%;
    top: 53px;
    left: 0;
    padding: 0;
    margin: 0;
    background-color: transparent;
    z-index: 100;

    // style the actual bar - id + class are the same
    .bar {
        height: 11px;
        background-color: $primary;
        @include transform(scaleX(0));
        @include transformOrigin(0 50%);
        @include transition(1s);
    }

}