
// sign in screen
.signin-screen {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 24px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid #f1f1f1;
    border-radius: 6px;
    @include boxShadow($box-shadow);

    .brandlink {
        display: block;

        img {
            display: inline-block;
            position: relative;
            top: 4px;
            width: $icon-width;
            height: $icon-height;
        }

        span {
            display: inline-block;
            font-size: 18pt;
        }
    }

    .form {

        legend {
            font-size: 14pt;
            margin: 0;
            margin-top: 12px;
        }

        .error {
            display: none;

            &.visible {
                display: block;
                line-height: $line-height-headings;
                color: $dark;
            }
        }

        label {
            font-size: 13pt;
            margin: 0;
        }

        input {
            width: 93%;
            margin: 0;
        }

        #login {
            width: 100%;
            margin-top: 24px;
            padding: 8px 0;
        }
    }
}