@import "_variables", "_mixins";
@import "_base";

// application wrappers
#app {
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
	padding-bottom: 64px;
	min-height: calc(100vh - 64px);

	&.app-fullscreen {
		background-color: $semi-light;
		min-height: 100vh;
		padding-bottom: 0;
		@include displayFlex;
	}
}

.main {
	margin: 0;
	margin-top: 80px;
}

.text-bold {
	font-weight: bold;
}

.screen-reader-text {
	clip: rect(0 0 0 0);
	overflow: hidden;
	position: absolute;
	height: 1px;
	width: 1px;
}

.revealable-content {
	div {
		max-height: 200px;
		overflow: hidden;
	}

	button {
		margin: 0 auto;
		margin-top: 16px;
	}

	&.revealable-expanded div {
		max-height: 1250px;
	}
}

// load files
@import "buttons", "signInScreen", "loadingScreen", "progressBar", "navbar", "pages", "cards";
@import "mediaQueries";
