// define card wrapper
.card-group {
	// define cards
	.card {
		position: relative;
		display: block;
		margin: 32px auto;
		box-sizing: content-box;
		padding: 24px 44px;
		border-radius: 12px;
		border: 2px solid transparent;
		background-color: #ffffff;
		color: $text;
		box-shadow: $box-shadow;
	}

	// styling for medication cards, i.e., results
	&.medication-cards {
		padding: 0;
		counter-reset: medications;

		.card {
			text-align: left;
			width: 70%;

			// icons + labels
			.rheroicons,
			.card-label {
				display: inline-block;
				padding: 8px 0;
			}

			// icons
			.rheroicons {
				position: absolute;
				width: 30px;
				height: 30px;
				top: 16px;
				left: 24px;
				margin: 0;

				// icons for recommended medications
				&.rheroicons_check_circle {
					fill: $primary;
				}

				// icons for avoid medications
				&.rheroicons_exclamation {
					fill: $error;
				}
			}

			// labels
			.card-label {
				margin: 0;
				padding: 0;
				margin-left: 32px;

				// counter
				&::before {
					counter-increment: medications;
					content: counter(medications) ". ";
				}
			}
		}
	}
}

@media (min-width: 512px) {
	// set widths for card sets
	.card-group {
		&.medication-cards {
			.card {
				max-width: 512px;
			}
		}
	}
}
