@import "_variables", "_fade";
@import "_base", "_inputs", "_buttons", "_navbar", "_pages", "_cards";

// progress bar
#bar-container {
	position: fixed;
	display: block;
	width: 100%;
	top: 66px;
	left: 0;
	padding: 0;
	margin: 0;
	background-color: transparent;
	z-index: 100;

	// style the actual bar - id + class are the same
	#bar {
		height: 10px;
		background-color: $primary;
		transform: scaleX(0);
		transform-origin: 0 center;
		transition: all 1s ease-in-out;
		
		@media (prefers-reduced-motion) {
			transition: all 1ms ease-in-out;
		}
	}
}