// define card wrapper
.card-group {
	// define cards
	.card {
		position: relative;
		display: block;
		margin: 32px auto;
		padding: 24px 44px;
		border-radius: 12px;
		border: 2px solid transparent;
		@include boxShadow($box-shadow);
		color: $text;
	}

	// define styles for unique groups
	&.side-effect-cards {
		padding: 0;

		.card {
			width: 70%;

			// label
			.card-input {
				position: relative;
				display: block;
				color: $dark;
				cursor: pointer;

				// span for word breaks
				span {
					display: inline-block;
					width: 90%;
					word-break: keep-all;
					-webkit-hyphens: auto;
					-moz-hyphens: auto;
					hyphens: auto;
				}

				// css only checkmark
				&::before {
					content: " ";
					position: absolute;
					top: 14px;
					left: -24px;
					border-left: 3px solid currentColor;
					border-bottom: 3px solid currentColor;
					height: 6px;
					width: 12px;
					@include transform(rotate(-45deg));
					opacity: 0;
				}
			}

			// toggle
			.card-toggle {
				position: absolute;
				top: 26px;
				right: 24px;
				padding: 0;
				margin: 0;
				width: 35px;
				height: 35px;
				border-radius: 50%;
				background-color: transparent;

				// toggle icon
				.icon {
					display: block;
					position: relative;
					width: 30px;
					height: 30px;
					-webkit-transition: transform 0.3s ease-in-out;
					-o-transition: transform 0.3s ease-in-out;
					transition: transform 0.3s ease-in-out;
				}

				// when icon is rotated
				&.rotated {
					color: currentColor;

					// rotate icon
					.icon {
						@include transform(rotate(-180deg));
					}
				}

				// when card toggle is focused or hovered
				&:focus,
				&:hover {
					background-color: $primary;
					color: white;
				}
			}

			// content
			.card-content {
				color: currentColor;
				margin: 0;
				max-height: 0;
				@include transform(1.8s);

				// text
				p {
					width: 90%;
				}

				// when expanded
				&.expanded {
					max-height: 2000px;
				}
			}

			// hover for side effect cards
			&:hover {
				background-color: $primary;

				// change label
				.card-input {
					span {
						color: white;
					}
				}

				// change toggle color
				.card-toggle {
					color: white;
				}

				// alter definitions
				.card-content {
					p {
						color: white;
					}
				}
			}

			// focus for side effects
			&.focused {
				border-color: $primary;
			}

			// styling for when a side effect is selected
			&.selected {
				background-color: $primary;

				.card-input,
				.card-content p {
					color: white;
				}

				.card-input::before {
					opacity: 1;
				}

				.card-toggle {
					.icon {
						color: white;
					}
				}
			}
		}
	}

	// styling for medication cards, i.e., results
	&.medication-cards {
		padding: 0;
		counter-reset: medications;

		.card {
			text-align: left;
			width: 100%;

			// icons + labels
			.icon,
			.card-label {
				display: inline-block;
				padding: 8px 0;
			}

			// icons
			.icon {
				position: absolute;
				width: 35px;
				height: 35px;
				top: 16px;
				left: 24px;
				margin: 0;

				// icons for recommended medications
				&.icon-checkmark path {
					stroke: green;
				}

				// icons for avoid medications
				&.icon-warning path {
					fill: $error;
				}
			}

			// labels
			.card-label {
				margin: 0;
				padding: 0;
				margin-left: 32px;

				// counter
				&::before {
					counter-increment: medications;
					content: counter(medications) ". ";
				}
			}

			// hover + focus
			// &:hover,
			// &:focus {
			// 	background-color: $primary;

			// 	// text
			// 	p {
			// 		color: white;
			// 	}

			// 	// icons
			// 	.icon {
			// 		// recommended medications
			// 		&.icon-checkmark {
			// 			path {
			// 				stroke: white;
			// 			}
			// 		}

			// 		// avoid medications
			// 		&.icon-warning {
			// 			// adjust <path>
			// 			path {
			// 				// exclaimation line - !
			// 				&#exclaimation-line {
			// 					stroke: $primary;
			// 				}

			// 				// triangle
			// 				&#Triangle {
			// 					fill: white;
			// 				}
			// 			}

			// 			// adjust <circle>
			// 			circle {
			// 				&#exclaimation-dot {
			// 					fill: $primary;
			// 				}
			// 			}
			// 		}
			// 	}
			// }
		}
	}
}
