// animation
@mixin animation($property) {
	-webkit-animation: $property;
	animation: $property;
}

// appearance
@mixin noAppearance {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

// box shadow
@mixin boxShadow($property) {
	-webkit-box-shadow: $property;
	box-shadow: $property;
}

// display as flex
@mixin displayFlex {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

// display as grid
@mixin displayGrid {
	display: -ms-grid;
	display: grid;
}

// justify-content + align-items @ center
@mixin flexAlignItems($value: "center") {
	@if $value == "flex-start" {
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
	}
	@if $value == "flex-end" {
		-webkit-box-align: end;
		-ms-flex-align: end;
		align-items: flex-end;
	}
	@if $value == "center" {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}

@mixin flexJustifyContent($value: "center") {
	@if $value == "flex-start" {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}
	@if $value == "flex-end" {
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
	}
	@if $value == "center" {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
}

@mixin flexWrap($value: "wrap") {
	@if $value == "wrap" {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	@if $value == "wrap-reverse" {
		-ms-flex-wrap: wrap-reverse;
		flex-wrap: wrap-reverse;
	}

	@if $value == "nowrap" {
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
	}
}

// grid template columns
@mixin gridTemplateColumns($property) {
	-ms-grid-columns: $property;
	grid-template-columns: $property;
}

// transform
@mixin transform($property) {
	-webkit-transform: $property;
	-o-transform: $property;
	transform: $property;
}

// transform-origin
@mixin transformOrigin($property) {
	-webkit-transform-origin: $property;
	-moz-transform-origin: $property;
	-ms-transform-origin: $property;
	-o-transform-origin: $property;
	transform-origin: $property;
}

// transition
@mixin transition($time) {
	-webkit-transition: all $time ease-in-out;
	-o-transition: all $time ease-in-out;
	transition: all $time ease-in-out;
}
