
// define page, i.e., each "slide"
// each time a page is loaded it will fade in
.page {
    width: 85%;
    height: auto;
    margin: 0 auto;
    opacity: 0;
    @include animation(fadeIn 1.25s forwards);

    // ordered and un ordered lists
    ul, ol {
        margin: 12px;
        margin-left: 48px;
    }

    p {
        .icon {
            display: inline-block;
            position: relative;
            top: 4px;
            width: 26px;
            height: 26px;
        }
    }

    #results-title::after {
        content: "?";
        position: relative;
        right: 10px;
    }

    .page-nav {
        margin: 0;
        padding: 0;
    }
}